<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title || "Corona Admin" %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/jvectormap/jquery-jvectormap.css" />
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel-2/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel-2/owl.theme.default.min.css" />
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>